[submodule "rtl/uart"]
	path = rtl/uart
	url = git@github.com:jamieiles/uart
[submodule "rtl/sdram"]
	path = rtl/sdram
	url = git@github.com:jamieiles/oldland-sdram
[submodule "oldland-jtag/jtag"]
	path = oldland-jtag/jtag
	url = git@github.com:jamieiles/jtag.git
