*.vcd
*.bin
*.o
.*.swp
.*.swo
*.pyc
BUILD
*.hex
a.out
tests/output
tools/instructions/oldland-instructions.c
tools/instructions/oldland-types.h
verif/greybox_tmp/
verif/ram.qip
tests/echo/echo
tests/hello/hello
fpga/db
fpga/incremental_db
fpga/output_files
*.bak
fpga/simulation
fpga/greybox_tmp
fpga/*.qws
fpga/*.ddb
fpga/*.rpt
*.hex
*.qip
*.mif
greybox_tmp
*.orig
*.lxt
fpga/oldland_defines.v
fpga/bootrom.hex
