[submodule "binutils-oldland"]
	path = binutils-oldland
	url = git@github.com:jamieiles/binutils-oldland
[submodule "rtl/keynsham/uart"]
	path = rtl/keynsham/uart
	url = git@github.com:jamieiles/uart
[submodule "rtl/keynsham/oldland-sdram"]
	path = rtl/keynsham/oldland-sdram
	url = git@github.com:jamieiles/oldland-sdram
