[submodule "rtl/uart"]
	path = rtl/uart
	url = https://github.com/jamieiles/uart.git
[submodule "rtl/sdram"]
	path = rtl/sdram
	url = https://github.com/jamieiles/oldland-sdram.git
[submodule "oldland-jtag/jtag"]
	path = oldland-jtag/jtag
	url = https://github.com/jamieiles/jtag.git
